@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow: hidden;
    -webkit-font-smoothing: auto;
    scroll-padding-top: 50px;
}



::-webkit-scrollbar {
    background: transparent;
    width: 6px;
    margin-top: 10px;
    border: solid 3px transparent;
    

}

::-webkit-scrollbar-thumb {
    background: lightblue;
    border: solid 3px transparent;
    border-radius: 2px;

}

::-webkit-scrollbar-track {
    border: solid 3px transparent;
    
}